/*
*
*	Mobile Device
*
*/

@media only screen and (max-width:400px) {

	header#mainHeader {
		background-color: violet;
		/*width: 20vw;*/
		min-height: 100vh;
		/*position: fixed;*/
		padding:25px;
	}

	header#mainHeader > img {
		width:100%;
		margin-bottom: 25px;
		border:2px solid black;
	}

	header#mainHeader > nav > ul {
		text-align: center;
		list-style-type: none;
	}

	header#mainHeader > nav > ul > li {
		height: 50px;
		margin-bottom: 5px;
	}
	header#mainHeader > nav > ul > li > a {
		text-decoration: none;
		background-color: lightblue;
		line-height: 50px;
		display: block;
	}
	header#mainHeader > nav > ul > li > a:hover {
		background-color:blue;
		color:white;
	} 

	/*Main Wrapper*/

	main#wrapper {
		background-color:lightgrey;
		/*margin-left: 20vw;*/
		color:white;
	}

	main#wrapper h2 {
		letter-spacing: 2px;
		text-align: center;
	}

	/*Home*/
	section#home {
		background-color: red;
		/*height:100vh;*/
		position: relative;
		padding:5px;
	}

	section#home > div {
		border: 3px solid white;
		/*width:50%;*/
		padding:5px;
		text-align: center;
		/*position:absolute;*/
		/*top:50%;*/
		/*left:50%;*/
		/*transform:translate(-50%,-50%);*/
		height:100%;
	}

	section#home > div > h3 {
		margin-bottom:10px;
		font-size: 24px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	section#home > div > p {
		padding-bottom: 10px;
	}

	/*About*/
	section#about {
		background-color: orange;
		min-height: 50vh;
	}
	section#about > h2 {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	section#about > p {
		padding:0 25px 25px 25px;
	}

	/*Services*/
	section#services {
		background-color: yellow;
		min-height: 75vh;
		padding:0 15px 15px 15px;
		color:black;
	}

	section#services > h2 {
		padding-bottom: 10px;
		padding-top: 10px;
	}
	section#services > div {
		border:2px solid black;
		padding:15px;
		/*width:33.33%;*/
		/*float:left;*/
		width:100%;
		margin-bottom: 10px;
	}

	section#services > div > h3 {
		text-align: center;

	}

	section#services > div > img {
		width:100%;
	}

	/*Projects*/
	section#projects {
		background-color: green;
		min-height:100vh;
		padding:15px;
	}

	section#projects > h2 {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	section#projects > div {
		border:2px solid white;
		padding:15px;
		/*float:left;*/
		/*width:25%;*/
		margin-bottom: 10px;
	}
	section#projects > div > h3 {
		text-align: center;
	}

	section#projects > div > img {
		width:100%;
	}

	/*Contact*/
	section#contact {
		background-color: blue;
		min-height: 50vh;
	}

	section#contact > h2 {
		padding-top:10px;
		padding-bottom:10px;
	}

	section#contact > p {
		padding:0 25px 25px;
	}

	/*Footer*/
	footer#mainFooter {
		background-color: indigo;
	}

	footer#mainFooter > div#left {
		/*width:50%;*/
		/*float:left;*/
		font-size:12px;
		/*padding: 30px;*/
		width:100%;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	footer#mainFooter > div#right {
		/*width:50%;*/
		/*display: inline-block;*/
		/*float:left;*/
		/*padding:22px;*/
		width:100%;
		padding-bottom: 10px;
	}

	footer#mainFooter > div#right > ul {
		/*text-align: right;*/
		list-style-type: none;
		text-align: center;
	}

	footer#mainFooter > div#right > ul > li {
		display: inline-block;
		padding-left:5px;
	}

	footer#mainFooter > div#right a {
		text-decoration: : none;
	}
	.clear:after {
		content:"";
		display: block;
		clear:both;
	}
}